body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    height: 40px;
    padding: 20px;
}

.header-navbar {
    height: 40px;
    width: 470px;
    margin: auto;
    display: flex;
    align-items: center;
}

.nav-link {
    margin-left: 40px;
    text-transform: uppercase;
    display: inline-block;
    font-size: 18px;
    color: #16a085;
}

.top-page {
    height: 790px;
    background-image: url(./backgroundImage.png); 
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    height: 550px;
    text-align: center;
    padding: 50px 113px;
    background-color: #f5f6f7;
    font-size: 20px;
    color: rgba(55, 55, 55, 255);
}

h1 {
    text-transform: uppercase;
    font-size: 22px;
}

button {
    margin-top: 50px;
    width: 150px;
    height: 50px;
    vertical-align: middle;
    background-color: #16a085;
    color: white;
    font-size: 16px;
    /* font-family: 'Roboto Condensed',sans-serif; */
    text-transform: capitalize;
}

footer {
    height: 105px;
    padding-right: 113px;
    line-height: 105px;
    text-align: right;
    font-size: 16px;
}

